body {
  margin: 0;
  overflow: hidden;
}

#content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ace-tm:not(.ace_focus) .ace_marker-layer .ace_selection {
  background: #D7D7D7;
}

.ace_line {
  white-space: pre !important;
}

.ace_autocomplete {
  width: 400px !important;
}

.ace_indent-guide {
  background: url(indent.svg) top right repeat-y !important;
  padding-right: 1px;
  margin-right: -1px;
}

.ace-tm .ace_gutter {
  font-size: 10px;
  line-height: 16px;
  color: #777;
}

.ace_error, .ace_warning {
  padding-bottom: 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.ace_error {
  background-image: url(error-squiggle.svg);
}

.ace_warning {
  background-image: url(warning-squiggle.svg);
}

.ace_tooltip {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  position: absolute;
  padding: 3px 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #FFF;
  z-index: 5;
  max-width: 600px;
  white-space: pre-wrap;
  margin: 1px 0 0 -3px;
  display: none;
  color: #000;
}

.ace-tm .ace_comment {
  color: #AAA;
}

.ace-tm .ace_keyword {
  color: #07F;
}

.ace-tm .ace_type {
  color: #00B;
}

.ace-tm .ace_constant {
  color: #3B0;
}

.ace-tm .ace_string {
  color: #B00;
}
